use post/linux/gather/enum_configs
run

use post/linux/gather/enum_network
run

use post/linux/gather/enum_packages
run

use post/linux/gather/enum_protections
run

use post/linux/gather/hashdump
run

use post/linux/gather/checkvm
run

use post/linux/gather/ssh_creds
run

use post/linux/gather/enum_system
run
