sessions -i SESSION
run post/linux/gather/enum_configs
run post/linux/gather/enum_network
run post/linux/gather/enum_packages
run post/linux/gather/enum_protections
run post/linux/gather/hashdump
run post/linux/gather/checkvm
run post/linux/gather/ssh_creds
run post/linux/gather/enum_system